<!doctype html>
<html>
  <head>
<% if (router !== 'none') { -%>
    <base href="/">
<% } -%>
    <meta charset="utf-8">
    <title>ngrx/store TodoMVC</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="http://fountainjs.io/assets/imgs/fountain.png" />
  </head>

  <body>
    <div class="todoapp">
<% if (router === 'uirouter') { -%>
      <ui-view>Loading...</ui-view>
<% } else if (router === 'router') { -%>
      <fountain-root>Loading...</fountain-root>
<% } else { -%>
      <fountain-app>Loading...</fountain-app>
<% } -%>
    </div>
  </body>
</html>
